numpy==1.26.4
nltk==3.9.1
sacrebleu==2.5.1
six==1.17.0
more_itertools==10.8.0
torch==2.6.0
transformers==4.53.2
torchvision==0.21.0
torchaudio==2.6.0
scipy==1.10.1
cuda-python==13.0.1
peft==0.17.1
accelerate==1.10.1
vllm==0.8.5.post1
sglang==0.4.6.post1
sentencepiece==0.2.1
tokenizers==0.21.4
safetensors==0.6.2
fastapi==0.116.1
uvicorn==0.35.0
huggingface-hub==0.34.4
ray==2.49.1
wandb==0.21.3
swanlab==0.6.8